body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

    --primary-color: #007936;
    --accent-color: #eee;
    --light-text-color: rgb(107, 107, 107);
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mainheader {
    background-color: var(--primary-color);
    font-size: 3rem;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0rem;
}

#logo-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#logo-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 25px;
}

a:link, a:visited {
    background-color: var(--primary-color);
    color: white;
    padding: 0rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
  }
  
  a:hover, a:active {
    color: var(--primary-color);
    background-color: white;
    font-weight: bold;
  }

nav
{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: var(--accent-color);
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 3.4rem;
}

/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/* Describes the styling of all <article> elements */
article {
    border: 1px solid var(--primary-color);
    color: var(--light-text-color);
    margin: 5px;
}

.order {
    padding-top: 15px;
    margin-left: 1rem;
}

.badge {
    background-color: var(--primary-color);
    display: inline;
    color: white;
    font-weight: bold;
    width: 1rem;
    border-radius: 1rem;
}

.orderbutton {
    background-color: var(--primary-color);
    color: white;
    margin: 1rem;
    height: 1.5rem;
}